body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  justify-content: center;
  padding: 3%;
}

.container{
  display: flex;
}

.item {
  border-style: solid;
  border-color: orange;
  padding: 10px;
  color: grey;
}

.item-list{
  position: relative;
  top: 20px;
}

.item-title {
  color: black;
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.comment{
  padding: 10px;
  margin: 5px;
  background-color: #EEEEEE;
}

.text{
  color: grey;
}

.navbar-container{
  display: flex;
  justify-content: flex-start;
  background-color: #EEEEEE;
  color: white;
}